# This rule is not used by the project openstack-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to core.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: openstack-operator
    app.kubernetes.io/managed-by: kustomize
  name: core-openstackcontrolplane-viewer-role
rules:
- apiGroups:
  - core.openstack.org
  resources:
  - openstackcontrolplanes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - core.openstack.org
  resources:
  - openstackcontrolplanes/status
  verbs:
  - get
