apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: openstack-operator-controller-operator
    app.kubernetes.io/managed-by: kustomize
  name: controller-operator
  namespace: system
