apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack-collapsed-cell
spec:
  secret: osp-secret
  storageClass: local-storage
  keystone:
    template:
      databaseInstance: openstack
      secret: osp-secret
  galera:
    templates:
      openstack:
        storageRequest: 500M
  rabbitmq:
    templates:
      rabbitmq:
        replicas: 1
        #resources:
        #  requests:
        #    cpu: 500m
        #    memory: 1Gi
        #  limits:
        #    cpu: 800m
        #    memory: 1Gi
  memcached:
    templates:
      memcached:
        replicas: 1
  barbican:
    template:
      databaseInstance: openstack
      secret: osp-secret
      barbicanAPI:
        replicas: 1
      barbicanWorker:
        replicas: 1
      barbicanKeystoneListener:
        replicas: 1
  placement:
    template:
      databaseInstance: openstack
      secret: osp-secret
  glance:
    template:
      secret: osp-secret
      databaseInstance: openstack
      storageClass: ""
      storageRequest: 10G
      keystoneEndpoint: default
      glanceAPIs:
        default:
          replicas: 1
          type: single
  cinder:
    template:
      databaseInstance: openstack
      secret: osp-secret
      cinderAPI:
        replicas: 1
      cinderScheduler:
        replicas: 1
      cinderBackup:
        replicas: 0 # backend needs to be configured
      cinderVolumes:
        volume1:
          replicas: 0 # backend needs to be configured
  ovn:
    template:
      ovnDBCluster:
        ovndbcluster-nb:
          replicas: 1
          dbType: NB
          storageRequest: 10G
        ovndbcluster-sb:
          replicas: 1
          dbType: SB
          storageRequest: 10G
      ovnNorthd:
        replicas: 1
      ovnController: {}
  neutron:
    template:
      databaseInstance: openstack
      secret: osp-secret
  nova:
    template:
      secret: osp-secret
      # This creates a collapsed cell deployment same as what OSP17 does by
      # default. The conductor in cell1 acts as both the cell conductor and the
      # super conductor hence cell0 conductor is disabled. Also in this
      # deployment both the top level services and cell1 service will share the
      # same message bus and database service instance so there is no cell
      # separation implemented.
      cellTemplates:
          cell0:
            cellDatabaseUser: nova_cell0
            conductorServiceTemplate:
              replicas: 0
            hasAPIAccess: true
          cell1:
            cellDatabaseUser: nova_cell1
            cellDatabaseInstance: openstack
            cellMessageBusInstance: rabbitmq
            conductorServiceTemplate:
              replicas: 1
            hasAPIAccess: true
  ironic:
    template:
      databaseInstance: openstack
      ironicAPI:
        replicas: 1
      ironicConductors:
      - replicas: 1
        storageRequest: 10G
      ironicInspector:
        replicas: 1
      ironicNeutronAgent:
        replicas: 1
      secret: osp-secret
  telemetry:
    enabled: true
    template:
      metricStorage:
        enabled: false
        monitoringStack:
          alertingEnabled: true
          scrapeInterval: 30s
          storage:
            strategy: persistent
            retention: 24h
            persistent:
              pvcStorageRequest: 20G
      autoscaling:
        enabled: false
        aodh:
          passwordSelectors:
          databaseUser: aodh
          databaseInstance: openstack
          memcachedInstance: memcached
          secret: osp-secret
        heatInstance: heat
      ceilometer:
        enabled: true
        secret: osp-secret
      logging:
        enabled: false
        network: internalapi
        ipaddr: 172.17.0.80
        port: 10514
        cloNamespace: openshift-logging
