apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack-basic
spec:
  secret: osp-secret
  storageClass: local-storage
  #tls:
  #  endpoint:
  #    internal:
  #      enabled: false
  #    public:
  #      enabled: true
  keystone:
    template:
      databaseInstance: openstack
      secret: osp-secret
  galera:
    enabled: true
    templates:
      openstack:
        storageClass: local-storage
        storageRequest: 500M
        secret: osp-secret
        replicas: 1
      openstack-cell1:
        storageClass: local-storage
        storageRequest: 500M
        secret: osp-secret
        replicas: 1
  rabbitmq:
    templates:
      rabbitmq:
        replicas: 1
        #resources:
        #  requests:
        #    cpu: 500m
        #    memory: 1Gi
        #  limits:
        #    cpu: 800m
        #    memory: 1Gi
      rabbitmq-cell1:
        replicas: 1
  memcached:
    templates:
      memcached:
        replicas: 1
  barbican:
    enabled: false
    template:
      databaseInstance: openstack
      secret: osp-secret
      barbicanAPI:
        replicas: 1
      barbicanWorker:
        replicas: 1
      barbicanKeystoneListener:
        replicas: 1
  placement:
    enabled: false
    template:
      databaseInstance: openstack
      secret: osp-secret
  glance:
    template:
      secret: osp-secret
      databaseInstance: openstack
      storageClass: ""
      storageRequest: 10G
      glanceAPI:
        type: single
        replicas: 1
  cinder:
    template:
      databaseInstance: openstack
      secret: osp-secret
      cinderAPI:
        replicas: 1
      cinderScheduler:
        replicas: 1
      cinderBackup:
        replicas: 0 # backend needs to be configured
      cinderVolumes:
        volume1:
          replicas: 0 # backend needs to be configured
  manila:
    enabled: false
    template:
      manilaAPI:
        replicas: 1
      manilaScheduler:
        replicas: 1
      manilaShares:
        share1:
          replicas: 1
  ovn:
    template:
      ovnDBCluster:
        ovndbcluster-nb:
          replicas: 1
          dbType: NB
          storageRequest: 10G
        ovndbcluster-sb:
          replicas: 1
          dbType: SB
          storageRequest: 10G
      ovnNorthd:
        replicas: 1
      ovnController:
        external-ids:
          system-id: "random"
          ovn-bridge: "br-int"
          ovn-encap-type: "geneve"
  neutron:
    enabled: false
    template:
      databaseInstance: openstack
      secret: osp-secret
  horizon:
    enabled: false
    template:
      replicas: 1
      secret: osp-secret
  nova:
    enabled: false
    template:
      secret: osp-secret
  heat:
    enabled: false
    template:
      databaseInstance: openstack
      heatAPI:
        replicas: 1
      heatEngine:
        replicas: 1
      secret: osp-secret
  ironic:
    enabled: false
    template:
      databaseInstance: openstack
      ironicAPI:
        replicas: 1
      ironicConductors:
      - replicas: 1
        storageRequest: 10G
      ironicInspector:
        replicas: 1
      ironicNeutronAgent:
        replicas: 1
      secret: osp-secret
  ceilometer:
    enabled: false
    template:
      passwordSelector:
        service: CeilometerPassword
      secret: osp-secret
      serviceUser: ceilometer
  swift:
    enabled: false
    template:
      swiftRing:
        ringReplicas: 1
      swiftStorage:
        replicas: 1
      swiftProxy:
        replicas: 1
  octavia:
    enabled: false
    template:
      databaseInstance: openstack
      octaviaAPI:
        replicas: 1
      secret: osp-secret
  redis:
    enabled: false
  designate:
    enabled: false
    template:
      databaseInstance: openstack
      secret: osp-secret
      designateAPI:
        replicas: 1
      designateCentral:
        replicas: 0 # backend needs to be configured
      designateWorker:
        replicas: 0 # backend needs to be configured
      designateProducer:
        replicas: 0 # backend needs to be configured
      designateMdns:
        replicas: 0 # backend needs to be configured
      designateBackendbind9:
        replicas: 0 # backend needs to be configured
