apiVersion: core.openstack.org/v1beta1
kind: OpenStackControlPlane
metadata:
  name: openstack-collapsed-cell
spec:
  secret: osp-secret
  storageClass: local-storage
  keystone:
    template:
      databaseInstance: openstack
      secret: osp-secret
      notificationsBus:
        cluster: rabbitmq  # Required for Barbican KeystoneListener
  galera:
    templates:
      openstack:
        storageRequest: 500M
  rabbitmq:
    templates:
      rabbitmq:
        replicas: 1
        #resources:
        #  requests:
        #    cpu: 500m
        #    memory: 1Gi
        #  limits:
        #    cpu: 800m
        #    memory: 1Gi
  memcached:
    templates:
      memcached:
        replicas: 1
  barbican:
    template:
      databaseInstance: openstack
      secret: osp-secret
      notificationsBus:
        cluster: rabbitmq  # Match Keystone for complete notification integration
      barbicanAPI:
        replicas: 1
      barbicanWorker:
        replicas: 1
      barbicanKeystoneListener:
        replicas: 1
  placement:
    template:
      databaseInstance: openstack
      secret: osp-secret
  glance:
    template:
      secret: osp-secret
      databaseInstance: openstack
      customServiceConfig: |
        [DEFAULT]
        enabled_backends = default_backend:swift
        [glance_store]
        default_backend = default_backend
        [default_backend]
        swift_store_create_container_on_put = True
        swift_store_auth_version = 3
        swift_store_auth_address = {{ .KeystoneInternalURL }}
        swift_store_endpoint_type = internalURL
        swift_store_user = service:glance
        swift_store_key = {{ .ServicePassword }}
      storage:
        storageClass: ""
        storageRequest: 10G
      keystoneEndpoint: default
      glanceAPIs:
        default:
          replicas: 1
  cinder:
    template:
      databaseInstance: openstack
      secret: osp-secret
      cinderAPI:
        replicas: 1
      cinderScheduler:
        replicas: 1
      cinderBackup:
        replicas: 0 # backend needs to be configured
      cinderVolumes:
        volume1:
          replicas: 0 # backend needs to be configured
  ovn:
    template:
      ovnDBCluster:
        ovndbcluster-nb:
          replicas: 1
          dbType: NB
          storageRequest: 10G
        ovndbcluster-sb:
          replicas: 1
          dbType: SB
          storageRequest: 10G
      ovnNorthd:
        replicas: 1
      ovnController: {}
  neutron:
    template:
      databaseInstance: openstack
      secret: osp-secret
  nova:
    template:
      secret: osp-secret
      # This creates a collapsed cell deployment same as what OSP17 does by
      # default. The conductor in cell1 acts as both the cell conductor and the
      # super conductor hence cell0 conductor is disabled. Also in this
      # deployment both the top level services and cell1 service will share the
      # same message bus and database service instance so there is no cell
      # separation implemented.
      cellTemplates:
          cell0:
            cellDatabaseAccount: nova-cell0
            conductorServiceTemplate:
              replicas: 0
            hasAPIAccess: true
          cell1:
            cellDatabaseAccount: nova-cell1
            cellDatabaseInstance: openstack
            messagingBus:
              cluster: rabbitmq
            conductorServiceTemplate:
              replicas: 1
            hasAPIAccess: true
  ironic:
    template:
      databaseInstance: openstack
      ironicAPI:
        replicas: 1
      ironicConductors:
      - replicas: 1
        storageRequest: 10G
      ironicInspector:
        replicas: 1
      ironicNeutronAgent:
        replicas: 1
      secret: osp-secret
  telemetry:
    enabled: true
    template:
      metricStorage:
        enabled: true
        monitoringStack:
          alertingEnabled: true
          scrapeInterval: 30s
          storage:
            strategy: persistent
            retention: 24h
            persistent:
              pvcStorageRequest: 10G
      autoscaling:
        enabled: false
        aodh:
          passwordSelectors:
          databaseAccount: aodh
          databaseInstance: openstack
          secret: osp-secret
          notificationsBus:
            cluster: rabbitmq  # Required for receiving notifications from OpenStack services
        heatInstance: heat
      ceilometer:
        enabled: true
        secret: osp-secret
        notificationsBus:
          cluster: rabbitmq  # Required for receiving notifications from OpenStack services
      logging:
        enabled: false
        ipaddr: 172.17.0.80
        port: 10514
        cloNamespace: openshift-logging
  swift:
    enabled: true
    template:
      swiftRing:
        ringReplicas: 1
      swiftStorage:
        replicas: 1
      swiftProxy:
        replicas: 1
  watcher:
    enabled: true
