---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: openstacklightspeeds.lightspeed.openstack.org
spec:
  group: lightspeed.openstack.org
  names:
    kind: OpenStackLightspeed
    listKind: OpenStackLightspeedList
    plural: openstacklightspeeds
    singular: openstacklightspeed
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Status
      jsonPath: .status.conditions[0].status
      name: Status
      type: string
    - description: Message
      jsonPath: .status.conditions[0].message
      name: Message
      type: string
    name: v1beta1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              llmCredentials:
                type: string
              llmEndpoint:
                type: string
              llmEndpointType:
                enum:
                - azure_openai
                - bam
                - openai
                - watsonx
                - rhoai_vllm
                - rhelai_vllm
                - fake_provider
                type: string
              modelName:
                type: string
              ragImage:
                type: string
              tlsCACertBundle:
                type: string
            required:
            - llmCredentials
            - llmEndpoint
            - llmEndpointType
            - modelName
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    severity:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
